---
import Layout from "../layouts/Layout.astro";
import { Projects } from "../mocks/projects.json";

/* const res = await fetch("https://jsonplaceholder.typicode.com/users");
const data = await res.json(); */
---

<Layout title="About Octopus Dev">
	<main>
		<div class="mx-auto text-center mb-8 lg:mb-16">
			<h1>About</h1>
		</div>
	</main>
</Layout>
