---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to OctopusDev">
	<div class="mx-auto text-center mb-8 lg:mb-16">
		<h1>Main</h1>
	</div>
</Layout>

<style>
	main {
		color: white;

		font-family: system-ui, sans-serif;
	}
</style>
