---
import Layout from "../layouts/Layout.astro";
import { Projects as Project } from "../mocks/projects.json";
---

<Layout title="About Octopus Dev">
	<main>
		<div class="mx-auto text-center mb-8 lg:mb-16">
			<h1>Projects</h1>
		</div>
		<div class="grid md:grid-cols-4 grid-cols-2 gap-5 p-20">
			{
				Project.map((client) => {
					return (
						<div>
							<h2>{client.Title}</h2>
							<p>{client.Description}</p>
							<p
								class:list={[
									"text-white",
									{
										"text-orange-400": client.Status !== "Succes",
										"text-lime-500": client.Status === "Succes",
									},
								]}
							>
								{client.Status}
							</p>
						</div>
					);
				})
			}
		</div>
	</main>
</Layout>
