---
/* import { Counter } from "./Counter"; */
import HeaderButton from "./HeaderButton.astro";
---

<!-- //transition:persist hace que guarde el estado mientras va navegando -->
<header transition:persist class="bg-[#0f0f0f] grid grid-cols-2 py-2">
	<h2 class="px-5 text-xl font-semibold tracking-tight min-w-full text-nowrap">
		Octopus <span class="bg-red-600 px-1 rounded-md">Tube</span>
	</h2>
	<div class="lg:hidden flex justify-end items-center m-1">
		<a class="hover:bg-slate-600 px-4 py-1 rounded-lg"
			><span class="flex rotate-90">|||</span></a
		>
	</div>

	<div class="hidden lg:flex justify-end m-1">
		<nav class="flex flex-col text-center md:flex-row gap-2">
			<HeaderButton href="/">Home</HeaderButton>
			<HeaderButton href="/projects">Projects</HeaderButton>
			<HeaderButton href="/about">About this Site</HeaderButton>
		</nav>
	</div>
</header>
<!-- <div>
	<Counter client:visible />
</div>
 -->
